@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-image: url('assets\\images\\windows11.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #0f0e0ed5;
}

.black-transparent {
    background-color: #3d3c3c9a;
}

.black-dark-transparent{
    background-color: #25252581;
}

.white-transparent {
    background-color: #5f5f5f7e;
}

.white-light-transparent{
    background-color: #0c0c0c5e;
}
